<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>newQuestion</title>
</head>
<body>

<form th:method="POST" th:action="@{/user/admin/newQuestion}" th:object="${question}">
    <label for="questionText">Введите текст вопроса</label>
    <input type="text" th:field="*{questionText}" id="questionText"/>
    <div style="color: red" th:if="${#fields.hasErrors('questionText')}" th:errors="*{questionText}"> Question text error</div>
    <br/>
    <label for="answer">Введите текст ответа:</label>
    <input type="text" th:field="*{answer}" id="answer"/>
    <div style="color: red" th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}"> Answer error</div>
    <br/>

    <input type="submit" value="Make question">

</form>
</body>
</html>