<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{titles.edit_user}"></title>
</head>
<body>
<form method="PATCH" th:action="@{/user/userList/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="username" th:text="#{registration.enter_username}"></label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> Username error</div>
    <br/>
    <label for="password" th:text="#{registration.enter_password}"> </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> Password error</div>
    <br/>
    <label for="name" th:text="#{registration.enter_name}"> </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Name error</div>
    <br/>
    <label for="surname" th:text="#{registration.enter_surname}"> </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"> Surname error</div>
    <br/>
    <label for="username" th:text="#{registration.enter_year_of_birth}"> </label>
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
    <div style="color: red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}"> Year of birth error</div>
    <br/>
    <input type="submit" th:value="#{admin.edit_user}">
</form>
</body>
</html>