<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="#{titles.home_page}"></title>
</head>
<body>
<div class="currentUser" th:action="@{user/home}" th:method="GET" th:object="${currentUser}">
<label th:text="#{user.current_user} + ' ' + ${currentUser.getUsername()}"></label>
    <button class="editUser">
        <a th:href="@{../user/editUser}" th:text="#{admin.edit_user}"></a>
    </button>
</div>


<div sec:authorize="hasRole('ROLE_ADMIN')" class="admin">
    <button class="adminPage">
        <a th:href="@{../admin/adminPage}" th:text="#{admin.admin_page}" ></a>
    </button>
</div>
<p></p>
<div>
    <button class="btn">
        <a th:href="@{../testing/testingPage}" th:text="#{testing.generate_test}"></a>
    </button>
</div>
</body>
</html>