<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{titles.user_list}"></title>
</head>
<body>
<div th:action="@{/user/userList}" th:method="GET">
    <table>
        <th th:text="#{user.id}"></th> <th th:text="#{user.username}">
    </th> <th th:text="#{user.name}"></th> <th th:text="#{user.surname}"></th> <th th:text="#{user.year_of_birth}"></th>

<div th:each="user:${users}" id="user">
    <tr><td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getYearOfBirth()}"></td>
        <td>

            <form th:object="${user}"
                  th:action="@{/user/userList/{id}(id=${user.getId()})}" method="POST">
                <input type="hidden" name="_method" value="DELETE"/>
                <input type="submit" th:value="#{admin.delete_user}"/> </form>
        </td>
        <td>

            <form th:object="${user}"
                  th:action="@{/user/userList/{id}(id=${user.getId()})}" method="GET">
                <input type="submit" th:value="#{admin.edit_user}"/> </form>
        </td>
    </tr>
</div>
    </table>
</div>
</body>
</html>