<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{titles.create_question}"></title>
</head>
<body>

<form th:method="POST" th:action="@{/questions/newQuestion}" th:object="${question}">
    <label for="questionText" th:text="#{testing.questions.question_text}"></label>
    <input type="text" th:field="*{questionText}" id="questionText"/>
    <div style="color: red" th:if="${#fields.hasErrors('questionText')}" th:errors="*{questionText}"> </div>
    <br/>
    <label for="answer"th:text="#{testing.questions.answer_text}"></label>
    <input type="text" th:field="*{answer}" id="answer"/>
    <div style="color: red" th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}"></div>
    <br/>

    <input type="submit" th:value="#{testing.questions.create_question}"/>

</form>
</body>
</html>