<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="f" method = "post" action="/process_login">
    <label for="username" th:text="#{user.username}"></label>
    <input type="text" name="username" id="username"/>
    <br/>
    <label for="password" th:text="#{user.password}"></label>
    <input type="password" name ="password" id="password">
    <br/>
    <input type="submit" th:value="#{user.log_in}">


    <div th:if="${param.error}" style="color: red">
        <label th:text="#{error.login.incorrect_data}"></label>
    </div>
    <p></p>
    <span>
        <label th:text="#{login.not_registered}"></label>
        <button>
            <a th:href="@{/auth/registration}" th:text="#{registration.registration_button}"></a>
        </button>
    </span>
</form>


</body>
</html>