<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>

</head>
<body>
<div class = "col card-deck ml-5 my-3" <!--th:if="${!questions.isEmpty()}"-->
    <form class = "answer-form" th:action="@{/user/testingPage}"  th:method="POST">
    <div class = "card" th:each="question:${questions}">

    <h4 class = "question-id" th:text = "Вопрос_ + ${question.getId()}"></h4>
    <p class = "question-text" th:text = "${question.getQuestionText}"></p>

        <input type="text" th:value="*{answer}"  id="answer"/>
    </div>
        <input type="submit" value="Отправить_ответs">
    </form>
</div>
</body>
</html>