<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{titles.admin_page}"></title>
</head>
<body>

<p>
    <button class="btn">
        <a th:href="@{../questions/newQuestion}" th:text="#{testing.questions.create_question}" ></a>
    </button>
</p>
<p>
    <button class="btn">
        <a th:href="@{../users/userList}" th:text="#{admin.user_list}" ></a>
    </button>
</p>
<p>
    <button class="btn">
        <a th:href="@{../questions/questionList}" th:text="#{admin.question_list}" ></a>
    </button>
</p>


</body>
</html>