<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question List</title>
</head>
<body>
<div th:action="@{/admin/questionList}" th:method="GET">
    <div th:each="question:${questions}">
    <table>
        <th>ID</th> <th>Question Text    </th> <th>Answer Text  <!-- </th> <th>Surname   </th> <th>Year of birth</th>-->

            <tr><td th:text="${question.getId()}"></td>
                <td th:text="${question.getQuestionText()}"></td>
                <td th:text="${question.getAnswer()}"></td>
            <!--    <td th:text="${user.getSurname()}"></td>
                <td th:text="${user.getYearOfBirth()}"></td>-->
                <td>

                    <form th:object="${question}"
                          th:action="@{/admin/questionList/{id}(id=${question.getId()})}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Удалить"/> </form>
                </td>
                <td>

                    <form th:object="${question}"
                          th:action="@{/admin/questionList/{id}(id=${question.getId()})}" method="GET">
                        <input type="hidden" name="_method" value="GET">
                        <input type="submit" value="Редактировать"/> </form>
                </td>
            </tr>

    </table>
    </div>
</div>

</body>
</html>